html {
    scroll-behavior: smooth;
}

body {
    font-family: Lato, sans-serif;
    text-align: center;
    scroll-behavior: smooth;
    font-weight: lighter;
}


.nav-bar {
    background-color: lightslategray;
    display: grid;
    grid-template-columns: 40% 60%;
    position: sticky;
    top: 0;
    width: 100%;
}

.link-div {
    text-align: right;
    height: 100%;
}

.nav-element {
    color: white;
    display: inline-grid;
    margin-left: 2%;
    margin-right: 2%;
    padding: 1%;
    text-align: center;
    font-weight: lighter;
}

.nav-title {
    color: white;
    text-align: left;
    margin-left: 2%;
}

.nav-element:hover {
    background-color: darkslategray;
    border-radius: 5%;
    color: white;
}

.content-div {
    width: 80%;
    margin: 10px auto;
    border-bottom: 1px solid darkslategray;
    padding: 2%;
}

a {
    color: inherit;
    text-decoration: inherit;
}

img {
    border-radius: 5%;
    border: 2px solid lightslategray;
    margin: auto;
}

.inline {
    display: inline-grid;
}


.light-text {
    font-weight: lighter;
}


.half-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
}

.email-button {
    background-color: lightslategray;
    color: white;
    padding: 3%;
    border-radius: 5%;
    width: 40%;
    display: block;
    margin: auto;
}

.email-button:hover {
    background-color: darkslategray;
}

.content-p {
    text-align: justify;
}